.collapse {
  @include media-breakpoint-up(md) {
    //display: block !important;
    //height: auto !important;
    //visibility: visible;
  }
}
.btn-collapse {
  @include media-breakpoint-up(md) {
    //display: none !important;
    //height: 0 !important;
    //visibility: hidden;
  }
}
