.karte {
  position: relative;
  display: block;
  width: auto;
}
.shop-list {
  display: none;
}
.shop-karte {

}
#mapcanvas {
  width: 100%;
  height: 600px;
  max-height: 80vh;
}

.info-window {
  color: $dark;
  text-align: center;
  overflow-x: hidden;
  padding-right: 12px;
  padding-bottom: 12px;
}

.vendor__website {
}

.vendor__title {
  font-size: 1rem;
}

.vendor-list-outer {
  overflow: hidden;
  position: relative;
  padding: 2rem 0;
}
.vendor-list {
  position: relative;
  //display: none;
  height: calc(600px - 4rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -20px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.vendor-list__item {
  position: relative;
  padding: 1rem 2rem 1rem 1rem;
  width: 100%;
  text-align: center;
  border-bottom:solid 1px rgba($white, .2);
}
.vendor-list__title {
  font-size: 1.2rem;
}
.vendor-list__address {
  font-size: .875rem;
  padding: .5rem 0;
}


.info-window__item {
  padding-bottom: 1rem;
  &:last-child {
    padding-bottom: 0;
  }
}