@for $i from 1 through 4 {
    .product-1-#{$i} {
        background: url("#{$image-path}/slide-1-#{$i}-576x576.jpg") center center no-repeat;
        background-size: cover;
        @include media-breakpoint-up(sm) {
            background: url("#{$image-path}/slide-1-#{$i}-768x512.jpg") center center no-repeat;
            background-size: cover;
        }
        @include media-breakpoint-up(md) {
            background: url("#{$image-path}/slide-1-#{$i}-1010x673.jpg") center center no-repeat;
            background-size: cover;
        }
    }
}


.swiper-slide {
    text-align: center;
    display: flex;
    flex-flow: column;
}

.swiper-container {
    max-width: 1010px;

    .swiper-slide__body {
        @include aspect-ratio(576px, 576px, div);
        @include media-breakpoint-up(md) {
            @include aspect-ratio(786px, 512px, div);
        }
        @include media-breakpoint-up(lg) {
            @include aspect-ratio(1010px, 673px, div);
        }
    }
}


.swiper-button-prev,
.swiper-button-next {
    &:after {
        color: $green;
    }
    display: none;
    @include media-breakpoint-up(xl) {
        display: flex;
        //opacity: .8;
        //background-repeat: no-repeat;
    }
    margin-top: -60px;

}

.swiper-wrapper {
    padding-bottom: 3rem;
}

.swiper-outer {
    padding-bottom: 1rem;
}

.swiper-container-horizontal {
    > .swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullets {
        .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            background: transparent;
            opacity: 1;
            margin: 0 6px;
            border-radius: 50%;
            border: solid 2px $blue;

            &:focus {
                outline-color: #fff;
                outline: none;
            }
        }

        .swiper-pagination-bullet-active {
            border: solid 2px $green;
        }
    }
}


$custom-btn-prev-white: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="22.871" height="42.914" viewBox="0 0 22.871 42.914"><path d="M-7174.383-14874.8l20.75,20.75-20.75,20.75" transform="translate(-7152.219 -14832.594) rotate(180)" fill="none" stroke="#{$white}" stroke-width="2"/></svg>');
$custom-btn-next-white: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="22.871" height="42.914" viewBox="0 0 22.871 42.914"><path d="M-7174.383-14874.8l20.75,20.75-20.75,20.75" transform="translate(7175.09 14875.508)" fill="none" stroke="#{$white}" stroke-width="2"/></svg>');

$custom-btn-prev-dark: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="22.871" height="42.914" viewBox="0 0 22.871 42.914"><path d="M-7174.383-14874.8l20.75,20.75-20.75,20.75" transform="translate(-7152.219 -14832.594) rotate(180)" fill="none" stroke="#{$dark}" stroke-width="2"/></svg>');
$custom-btn-next-dark: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="22.871" height="42.914" viewBox="0 0 22.871 42.914"><path d="M-7174.383-14874.8l20.75,20.75-20.75,20.75" transform="translate(7175.09 14875.508)" fill="none" stroke="#{$dark}" stroke-width="2"/></svg>');

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    &:focus {
        outline: 0;
    }

    //background-image: $custom-btn-prev-dark;
    //background-size: 40px auto;
    //width: 40px;
    @include media-breakpoint-up(md) {
        //  top: 0;
        // left: -10px;
        // height: 100%;
        // width: 60px;
    }
    //right: auto
}


.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    &:focus {
        outline: 0;
    }

    //background-size: 40px auto;
    //background-image: $custom-btn-next-dark;
    //right: 0;
    //width: 40px;
    //@include media-breakpoint-up(md) {
    //    top: 0;
    //    right: -10px;
    //    width: 60px;
    //    height: 100%;
    //}
    //left: auto
}


.swiper-button-disabled {
    opacity: 0 !important;
}

.swiper-slide__body {

}
.swiper-slide__caption {
    position: relative;
    top: 12px;
}

