body {
    .no-fouc & {
        visibility: hidden;
    }

    animation: fadein 1s;
}

a {
    transition: all 200ms;
}

//.hidden {
//  display: none !important;
//}

.d-init-none {
    display: none;
}

.no-focus {
    &:focus {
        outline: none;
    }
}

.bg-arrow-blue:after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $blue;
    bottom: -20px;
    content: "";
    height: 0;
    width: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 100;
}


.imprint {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #999;
}

.plus {
    font-size: 90px;
    font-weight: 700;
    line-height: .6;
}

.text-decoration-none {
    text-decoration: none;
}

$bg-rhombus-small: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="319" height="61.705" viewBox="0 0 319 61.705"><path d="M11.718,334.147l25.114,50.629a6.563,6.563,0,0,0,5.635,3.432H298.553a6.562,6.562,0,0,0,5.636-3.432L329.3,334.147a5.316,5.316,0,0,0-1.33-6.855,4.116,4.116,0,0,0-2.4-.789H15.454a4.722,4.722,0,0,0-4.443,4.959,5.387,5.387,0,0,0,.707,2.685" transform="translate(-11.011 -326.503)" fill="#76b82a"/></svg>');
$bg-rhombus: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="475.39" height="100" viewBox="0 0 475.39 100"><path d="M12.065,338.891l37.427,82.05c1.838,3.466,5,5.562,8.4,5.562h381.63c3.4,0,6.561-2.095,8.4-5.562l37.427-82.05c1.979-3.732,1.092-8.7-1.982-11.109a5.809,5.809,0,0,0-3.584-1.28H17.632c-3.656,0-6.621,3.6-6.621,8.037a9.328,9.328,0,0,0,1.054,4.351" transform="translate(-11.011 -326.503)" fill="#76b82a"/></svg>');

.bg-rhombus {
    width: 475px;
    max-width: 100%;
    height: 100px;
    margin: 0 auto;
    @include aspect-ratio(320px, 60px, div);
    @include media-breakpoint-up(lg) {
        @include aspect-ratio(475px, 100px, div);
    }

    > div {
        background-image: $bg-rhombus-small;
        @include media-breakpoint-up(lg) {
            background-image: $bg-rhombus;
        }
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bg-forms {
    background: url("#{$image-path}/background.png") repeat;
}
