#scrollToTarget {
    position: relative;
    //width: 100%;
    height: 50px;
    max-width: 100%;
    border: none !important;
    transition: all 200ms;
    background-color: $blue;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;

    span {
        display: block;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        width: auto;
        color: $white;
    }
    //@include media-breakpoint-up(sm) {
    width: 270px;

    border-radius: 8px 8px 0 0;
    //}
}

.btn-link {
    &.active {
        text-decoration: underline;
    }
}

.btn-custom {
    //button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))
    //@include button-variant($green, $green, $white, $green, $green, $green);
    border-radius: 30px;

    padding: .5rem 1.5rem;

    &.btn-outline-green:hover,
    &.btn-outline-green:not(:disabled):not(.disabled).active {
        color: $dark;
    }
}


.btn-gradient {
    background-image: linear-gradient(to right, #97151C, #CF1F2A);
    color: $white;
    font-weight: 700;
    border-radius: 4px;
    font-size: 20px;
    //@include button-variant(linear-gradient(to right, #97151C, #CF1F2A), transpaent, #97151C, transparent,#97151C,#97151C);
}
