.btn {
    white-space: normal;
    @include media-breakpoint-up(md) {
        white-space: nowrap;
    }
    position: relative;

    &.is-loading {
        color: transparent !important;
        pointer-events: none;

        &:after {
            @include loader;
            @include center(16px);

            position: absolute !important;
        }
    }
}

fieldset .invalid-feedback {
    display: block;
}

.status {
    display: none;
}

.form-response {
    display: none;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    padding: .625rem .75rem;
    width: 100%;
    text-decoration: none;
    transition: color .15s, background-color .15s;
    color: rgba($grey, .8);

    &:hover {
        color: $grey;
    }

    .invalid-feedback {
        display: block;
    }
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 200px;
    cursor: pointer;
}

input[type="file"] {
    display: block;
}

#uploadFile {
    padding-top: 8px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $black;
}

.form-group label,
.custom-control label {
    font-size: 1rem;
}

.custom-checkbox .custom-control-label::before,
input[type="email"].form-control,
input[type="text"].form-control {
    box-shadow: 0 4px 16px rgba(69, 91, 99, .1);
}

.is-invalid.custom-checkbox {

}
