.banner {
    width: 100%;
    //height: calc(100vh - 50px);
    height: 100vh;
    background: url("#{$image-path}/bg-banner-576x863.jpg") center center no-repeat;
    background-size: cover;

    @include media-breakpoint-up(sm) {
        background: url("#{$image-path}/bg-banner-768x577.jpg") center center no-repeat;
        background-size: cover;
        height: 100vh;
    }

    @include media-breakpoint-up(md) {
        background: url("#{$image-path}/bg-banner-1200x686.jpg") center center no-repeat;
        background-size: cover;
    }

    @include media-breakpoint-up(lg) {
        background: url("#{$image-path}/bg-banner-1920x1097.jpg") center center no-repeat;
        background-size: cover;
    }
}

.banner__body {
    flex-flow: column;
    display: flex;
    justify-content: flex-end;
    height: calc(100vh - 190px);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

