.modal-full {
  //min-width: 100%;
  //margin: 0;
}

.modal-full .modal-content {
  //min-height: 100vh;
}

.modal-body {
    padding: .5rem 1rem .5rem 0;

}
.close {
    //opacity: 1;
    //right:0; top:-30px; width: 30px; height: 30px;
    //position: absolute;
}
