.steps {

}
.step {
  display: none;
  &.step-active {
    display: block;
  }
}


.step-pagination-bullets {
  .step-pagination-bullet {
    display: inline-block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    //border: solid 2px rgba(255,255,255,.8);
    background: $grey;
    opacity: 1;
    margin: 0 6px;

    &:focus {
      outline-color: #fff;
      outline: none;
    }
  }

  .step-pagination-bullet-active {
    background-color: $black;
  }
}
