//responsive sizes
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $prop, $abbrev in (width: w, height: h) {
            @each $size, $length in $sizes {
                .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
            }
        }
    }
}

//text-xl-1
//w-lg-75
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .text#{$infix}-1   {font-size: 1rem !important; }
        .text#{$infix}-2  { font-size: 1.125rem !important; } // 18px
        .text#{$infix}-3  { font-size: 1.25rem !important; } // 20px
        .text#{$infix}-4  { font-size: 1.625rem !important; } //26px
        .text#{$infix}-5  { font-size: 1.75rem !important;  }
        .text#{$infix}-6  { font-size: 1.875rem !important;  } // 30px
        .text#{$infix}-7  { font-size: 2rem !important;  } // 32px
        .text#{$infix}-8  { font-size: 2.25rem !important;  } // 36px
        .text#{$infix}-9  { font-size: 2.5rem !important;  } // 40
        .text#{$infix}-10  { font-size: 3.375rem !important;  } // 54
    }
}

//leading-md-none
//leading-normal
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .leading#{$infix}-none   {line-height: 1 !important; }
        .leading#{$infix}-tight  { line-height: 1.25 !important; }
        .leading#{$infix}-normal  { line-height: 1.5 !important; }
        .leading#{$infix}-loose  { line-height: 2 !important; }
    }
}
