// Body
$body-bg: #fff;

$font-family-sans-serif: 'Open Sans', sans-serif;

$font-family-base: $font-family-sans-serif;

$white: #fff;
$blue: #195DAE;
$yellow: #e1d223;
$orange: #f39200;
$gold: #95703E;
$dark: #222222;
$red: #C80028;
$strawberry: #f22e2f;
$grey-dark: #252422;
$grey-light: #f5f5f5;
$grey-brown: #4D4D4D;
$grey: #454545;
$grey-blue: #5B667A;
$green: #76B82A;
$theme-colors: (
    "danger": #ff0000,
    "dark": $dark,
    "black": #000,
    "white": $white,
    "red": $red,
    "blue": $blue,
    "grey": $grey,
    "grey-light": $grey-light,
    "grey-brown": $grey-brown,
    "grey-dark": $grey-dark,
    "green": $green,
    "gold": $gold
);
$sizes: (
    33: 33%,
    60: 60%,
    850: 850px
);
$spacers: (6: 4.5rem, 7: 6rem, 8: 8rem, 9: 10rem);

$btn-border-width: 2px;
$btn-border-radius-lg: 5px;

$btn-padding-x-lg: 2rem;
$font-weight-lighter: 200;
$font-weight-bold: 700;
$font-weight-normal: 400;

$input-border-color: $white;
$input-border-radius: 3px;
$input-bg: $white;
$custom-control-indicator-checked-color: $white;

$btn-focus-width: 0;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

$link-color: inherit;
$link-decoration: 'underline';
$link-hover-color: inherit;
$link-hover-decoration: underline !default;


$custom-control-indicator-bg: #fff;
